.imaging {
  width: 400px;
  border-radius: 15px;
  position: absolute;
  left: 70px;
  top: 150px;
}

.title {
  font-size: 60px;
  font-weight: bolder;
  position: absolute;
  left: 500px;
  top: 200px;
}

.genre {
  line-height: 10px;
  font-size: 18px;
  position: absolute;
  left: 500px;
  top: 300px;
}

.summaryBox {
  font-weight: lighter;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 700px;
  left: 550px;
  top: 400px;
}

.summaryContent {
  font-size: 32px;
  font-weight: lighter;
}
