.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.loading {
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bolder;
}

.mov {
  display: grid;
  grid-template-columns: repeat(3, minmax(1vw, 1fr));
  grid-gap: 100px;
  padding: 50px;
  width: 80%;
  padding-top: 70px;
}
