.Nav {
  width: 100vw auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 14px 20px;
  margin-top: 0;
  background-color: #191d33;
}

.toHome {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
}
